{{#if record.isInUse}}
  <span class='color-success'>Currently in use</span>
{{else if record.endDate}}
  {{#if record.expiration}}
    {{live-countdown class='color-primary' value=record.expiration isTime=true}}
  {{else}}
    {{#if record.neverTerminateMachine}}
      This machine will be stopped soon.
    {{else}}
      This machine will be terminated soon.
    {{/if}}
  {{/if}}
{{else}}
  -
{{/if}}
