{{#if record.endDate}}
  {{#if record.expiration}}
    {{live-countdown class='color-primary' value=record.expiration isTime=true}}
  {{else}}
    {{#if record.neverTerminateMachine}}
      This machine will be stopped soon.
    {{else}}
      This machine will be terminated soon.
    {{/if}}
  {{/if}}
{{else if record.user}}
  {{#if record.stopped}}
    -
  {{else if record.starting}}
    -
  {{else}}
    <span class='color-success'>Currently in use</span>
  {{/if}}
{{else}}
  -
{{/if}}
