<div class='editText'>
  {{#if isEditing }}
    <form {{action "submit" on='submit'}}>
      {{input class='edit-input-text' type=getInputType value=textInput placeholder=textInputPlaceholder enter="submit" }}
      {{#if confirmation}}
        {{input class='edit-input-text' type=getInputType value=confirmInput placeholder=confirmInputPlaceholder enter="submit" }}
      {{/if}}
      <div class='controls-wrapper'>
        <span class="icon icon_link clickable" {{ action "submit" bubbles=false }}>
          {{icon-component materialIcon="done"}}
        </span>
        <span class="icon icon_link clickable close_icon" {{ action "cancel" bubbles=false }}>
          {{icon-component materialIcon="clear"}}
        </span>
      </div>
      {{errorMessage}}
    </form>
  {{else}}
    <span class="content">
    {{ yield }}
    </span>
    <span class='link' {{ action "toggle" bubbles=false }} >
      {{icon-component class='edit va-mid' materialIcon="editmode" size=14}}
    </span>
  {{/if}}
</div>
