<div class="machine-detail section">
  <h4 class="in-bl">
		{{#if session.user.isAdmin}}
			{{#link-to 'protected.machines' }}Machines{{/link-to}}
		{{else}}
			{{#link-to 'protected.machines.user' }}Machines{{/link-to}}
		{{/if}}
  </h4>
  <h4 class="in-bl">
  > {{machineName}}
  </h4>
  <div class='content-wrapper m-t-2'>
    <table class="table">
      <tbody>
        {{#if controlsAreSupported}}
        <tr>
          <th scope="row">Command</th>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-secondary" {{action 'startMachine'}} disabled={{model.isUp}}>
              Start
              </button>
              <button type="button" class="btn btn-secondary" {{action 'stopMachine'}} disabled={{model.isDown}}>
              Stop
              </button>
              <button type="button" class="btn btn-secondary" {{action 'terminateMachine'}} disabled={{model.isUp}}>
              Terminate
              </button>
            </div>
          </td>
        </tr>
        {{/if}}
        <tr>
          <th scope="row">IP</th>
          <td>
            {{#if model.ip}}
              {{model.ip}}
            {{else}}
              No Ip detected
            {{/if}}
          </td>
        </tr>
        <tr>
          <th scope="row">Driver</th>
          <td>
            {{#if model.type}}
              {{ model.type }}
            {{else}}
              No driver detected
            {{/if}}
          </td>
        </tr>
        <tr>
          <th scope="row">Assigned user</th>
          <td>
            {{#if model.user}}
              {{#link-to 'protected.users.user' model.user.id}}
                {{ model.user.fullName }}
              {{/link-to}}
            {{else}}
              None
            {{/if}}
          </td>
        </tr>
        {{#if session.user.isAdmin}}
          <tr>
            <th scope="row">Reboot machine</th>
            <td>
              <button type="button" class="btn btn-secondary" {{action 'rebootMachine'}} disabled={{model.isBooting}}>
                Reboot
              </button>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
