<div class="m-t-1">
  <p class="color-primary indication in-bl">
    <span class="text">
    Groups are an easy way to create lists of people that can use specific applications. A user added to a group gets access to applications available in this group.
    </span>
  </p>
  <h4>
    {{#link-to 'protected.users.groups' }}Groups{{/link-to}}
    <div class='in-bl'>
      {{icon-component class="va-sub" materialIcon="navigate_next"}} Create a new group
    </div>
 </h4>
  <div class="content-wrapper form user-new m-t-1">
    <form {{action 'createGroup' on='submit'}}>
      <fieldset class="form-group">
        <label for="new-group-name">Give your group a name</label>
        {{input class='form-control' id='new-group-name' placeholder='Name' value=groupName}}
      </fieldset>
    
      {{#if loadState}}
        <button class="btn btn-info">
          {{ fa-icon "spinner" spin=true}}
          <div class="in-bl">Creating</div>
        </button>
      {{else}}
        <button type="submit" class="btn btn-primary btn-block text-uppercase" disabled={{preventCreation}}>Create</button>
      {{/if}}
    </form>
  </div>
</div>
