<div {{ action "clickAction"}} class='centered topbar-item
  {{ if clickable "clickable" }}
  {{ if hover-enabled "hover-enabled" }}
  {{ if hover-darker "hover-darker" }}
  {{ if hover-lighter "hover-lighter" }}
  {{ if adjustIcon "adjustIcon" }}
  '>
  {{#if materialIcon }}
    <i class="material-icons">{{ materialIcon }}</i>
  {{/if}}

  {{#if fontAwesome }}
    {{ fa-icon fontAwesome spin=fontAwesomeSpin}}
  {{/if}}

  {{#if textContent}}
    <span class="{{ if clickable "clickable"}}">{{ textContent }}</span>
  {{/if}}

  <div class='content'> 
  {{ yield }}
  </div>
</div>
