<div class='content-wrapper'>
  <h1 class='m-b-2'>
    {{#link-to 'protected.apps'}}Applications{{/link-to}} 
    <div class='in-bl'>
      {{icon-component class="va-sub" materialIcon="navigate_next" size=30}}
    </div>
    {{model.displayName}}
  </h1>
  <table class="table detail-table">
    <tbody>
      <tr>
        <th scope="row">Application name</th>
        <td>
          {{#edit-text
          type="text"
          confirmation=false
          textInput=model.displayName
          textInputPlaceholder="Application name"
          onClose="saveAppName"
          }}
            {{model.displayName}}
          {{/edit-text}}
        </td>
      </tr>
      <tr>
        <th scope="row">Publication date</th>
        <td>{{moment-calendar model.createdAt}}</td>
      </tr>
      <tr>
        <th scope="row">Belongs to the image</th>
        <td>
          {{#link-to 'protected.apps.image' model.image}}
            {{model.image.name}}
          {{/link-to}}
        </td>
      </tr>
      <tr>
        <th scope="row">UUID</th>
        <td>
          {{model.id}}
          {{copy-clipboard class='in-bl va-top' value=model.id title='UUID'}}
        </td>
      </tr>
      <tr>
        <th class='p-t-2' scope="row">Delete application</th>
        <td class='p-t-2'>
          <button type="button" class="btn btn-danger" {{ action "toggleModal" }}>
          Delete this application
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{{#if showModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  containerClassNames="modal-dialog"
                  translucentOverlay=true}}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" {{action "toggleModal"}} aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-xs-center">Delete application</h4>
      </div>
      <div class="modal-body">
        Deleting an application is irreversible. Enter the application name
        (<code>{{model.displayName}}</code>) below to confirm you want to permanently delete it

        <form class="m-y-1" {{ action "deleteApp" on="submit" }}>
          <fieldset class="form-group">
            {{input class="form-control" placeholder="Application name" value=appNameConfirm}}
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" {{action "toggleModal"}}>Cancel</button>
        <button type="button" class="btn btn-primary btn-color-default" {{action "deleteApp"}} disabled={{preventDeletion}}>Delete application</button>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
