<h5 class="m-t-1 m-b-2">Email Configuration</h5>
<div class="m-t-1 form-group row">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Server Host:</p>
  </div>
  <div class="col-sm-3">{{input-confirm placeholder=smtpServerHost value=configController.smtpServerHost type="text"}}</div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Server Port:</p>
  </div>
  <div class="col-sm-3">{{input-confirm value=configController.smtpServerPort type="number" min="1"}}</div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Login:</p>
  </div>
  <div class="col-sm-3">{{input-confirm value=configController.smtpLogin type="text"}}</div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Password:</p>
  </div>
  <div class="col-sm-3">{{input-confirm value=configController.smtpPassword placeholder="******" type="password" pattern=".{6,}"}}</div>
</div>

<div class="form-group row">
  <div class="col-sm-2">
    <p class="confirm-input-item color-primary in-bl fl">Send From:</p>
  </div>
  <div class="col-sm-3">{{input-confirm value=configController.smtpSendFrom type="email"}}</div>
</div>

{{ember-ckeditor value=text on-change="textChanged"}}
