<div class='vdi'>
  {{#vdi-drag-n-drop onDrop=(action 'toggleWindow' 'upload') dragAndDropActive=dragAndDropActive as |uploadData|}}
    {{partial 'vdi/topbar'}}
    {{remote-session
      class="canva-fullscreen fixed"
      retry_count=retry_count
      machineId=machine_id
      isPhoton=isPhoton 
      beforeConnect=(action 'updateAppState')
      disconnectHandler=(action 'disconnectHandler')
      connectionName=connection_name}}
    {{partial 'vdi/load'}}
    {{dim-background show=dimBackground action="closeAll"}}
    {{partial 'vdi/windows'}}
  {{/vdi-drag-n-drop}}
</div>
