Hello {{firstName}} {{lastName}},<br/>
<br/>
You have sent a request because you forgot your password.<br/>
<br/>
<a href="{{resetLink}}">Click here to reset your password</a>.<br/>
<br/>
<i>If you are not {{firstName}} {{lastName}} or if this is an error, please ignore this email.</i>
