<div id="file-page">
{{#upload-wrapper
  id="drag-n-drop"
  assignBrowse="browse"
  complete="refreshModel"
  dragAndDropActive=dragAndDropActive
  as |uploadData|}}

  {{#ember-wormhole to="file-page"}}
    <div class="section">
      <h1 class='in-bl color-primary'>
        Files
      </h1>
      <p class="color-primary indication hover clickable">
        <span class="browse link">
          {{#icon-component materialIcon='touch_app' iconClass='va-sub'}}
            {{#if modelIsEmpty}}
              Looks like you haven’t uploaded any file yet! Drag and drop any file here to upload it.
            {{else}}
              Click here or drag and drop any file right here to upload it
            {{/if}}
          {{/icon-component}}
        </span>
        {{#if uploadData.queue}}
          <span class="state">
            {{ uploadData.state }}
          </span>
          {{#if uploadData.uploading }}
            {{ uploadData.progress }}%
            <span class="link" {{ action "uploadCallback" uploadData.stopUpload }}>Cancel All</span>
          {{/if}}
        {{/if}}
      </p>
      <div class='content-wrapper'>
        <div class='drag-drop-wrapper'>
        </div>
        {{#unless modelIsEmpty}}
          {{icon-component class='fleft' iconClass='va-tt' size=26 materialIcon="search"}}
          {{models-table
            class="sortableTable color-default"
            data=data
            filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
            columns=columns
            showColumnsDropdown=false
            download='downloadFile'
            customMessages=sortableTableConfig.messageConfig
            customIcons=sortableTableConfig.customIcons
            customClasses=sortableTableConfig.customClasses
            useNumericPagination=true
            multipleColumnsSorting=false
          }}
        {{/unless}}
        <div class="clearfix"></div>
      </div>
    </div>
  {{/ember-wormhole}}
{{/upload-wrapper}}
</div>
