<div class='m-t-2'>
  <h4>
    {{#link-to 'protected.users.groups'}}Groups{{/link-to}}
    <div class='in-bl'>
      {{icon-component class="va-sub" materialIcon="navigate_next"}}
    </div>
    {{#link-to 'protected.users.groups.group' model.id}}{{ model.name }}{{/link-to}}
    <div class='in-bl'>
      {{icon-component class="va-sub" materialIcon="navigate_next"}}
    </div> {{selectedTab}}
  </h4>
  <nav class="m-y-2 navbar navbar-light bg-light">
    <ul class="nav navbar-nav">
      {{#each tab as |item index |}}
        <li {{ action "setCurrentTab" index }} class="nav-item">
          {{#link-to item.link model class='nav-link'}}
            {{item.title}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </nav>
</div>
{{outlet}}
