<div class='content-wrapper'>
  {{#each uploadData.queue as |file|}}
    <div class='item'>
      <div class='vdi-progress-item'>
        {{ file.name }}

        {{#if file.completed}}
          Completed
        {{else}}
          {{#if file.uploading }}
            {{ file.progress }}%
            {{ fa-icon "spinner" spin=true}}
            <span class="link" {{ action "cancel" target=file }}>
              Cancel
            </span>
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{else}}
    No items
  {{/each}}
</div>
<button {{action uploadData.flushHistory}} type="button" class="btn btn-primary btn-color-default">Clear History</button>
