{{#if record.isActivated}}
  {{icon-component class="va-sub color-primary" materialIcon="checkbox"}}
  <div class='va-tb in-bl color-primary'>
    Activated
  </div>
{{else}}
  {{icon-component class="va-sub color-wait" materialIcon="remove"}}
  <div class='va-sup in-bl color-wait'>
    Waiting for activation
  </div>
{{/if}}
<div class='rel in-bl fright'{{ action toggleUserSetting record }}>
  {{icon-component class='color-primary clickable fright' hover-darker=true materialIcon='settings' size=16}}
  {{#if record.teamOptionIsOpen}}
    {{#popup-component isOpen=record.teamOptionIsOpen close=closePopup position="left"}}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action unclickable active"><span class='va-tb'>Settings</span></a>
        {{#if record.isTeamAdmin}}
          <a href="#" class="list-group-item list-group-item-action" {{ action toRegularUser record }}>Set regular user</a>
        {{else}}
          <a href="#" class="list-group-item list-group-item-action" {{ action toAdminTeam record }}>Set team admin</a>
        {{/if}}
      </div>
    {{/popup-component}}
  {{/if}}
</div>
{{dim-background show=record.teamOptionIsOpen action=(action closePopup record) opacity=0.01 duration=500}}
