<div class="histories section">
  <h1 class='in-bl color-primary'>
    History
  </h1>
  <span class="icon_link clickable noselect color-default" {{ action "refreshModel" }}>
    {{icon-component class='va-sub' size=26 materialIcon="autorenew" spin=loadState content="Refresh history"}}
  </span>
    <a class='btn btn-primary downloadcsv pull-xs-right btn-color-default' href={{downloadCsvLink}} download={{downloadCsvFilename}}>Save as CSV file</a>
  {{#if items.length}}
    <ul class="history-info list-group color-primary">
      {{#if avgSessionDuration}}
        <li class="list-group-item in-bl">
          Average session duration {{format-duration avgSessionDuration}}
        </li>
      {{/if}}
      <li class="list-group-item in-bl">
        {{items.length}} {{formatSessionLabel}}
      </li>
    </ul>
  {{else}}
    <p class="color-primary indication">
      Looks like there is nothing to display in your history! As soon as you and your users start using the VDI and remote applications, the sessions will be recorded here!
    </p>
  {{/if}}
  <div class='content-wrapper m-t-2'>
    {{#unless modelIsEmpty}}
      {{models-table
        class="sortableTable"
        data=data
        columns=columns
        showColumnsDropdown=false
        filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
        customMessages=sortableTableConfig.messageConfig
        customIcons=sortableTableConfig.customIcons
        customClasses=sortableTableConfig.customClasses
        useNumericPagination=true
        multipleColumnsSorting=false
      }}
    {{/unless}}
    <div class="clearfix"></div>
  </div>

</div>
