<div class='application section content-wrapper'>
  <h1 class='color-primary'>
    Applications
  </h1>
  {{#if hasDesktop}}
    {{#if isCheckingMachine}}
      <div class='action-btn-wrapper'>
        <button class="btn btn-info btn-color-default">
          {{ fa-icon "spinner" spin=true}}
          <div class="in-bl">Waiting for VM</div>
        </button>
      </div>
    {{/if}}
  {{/if}}
  {{#masonry-grid items=data customLayout=true as |item index grid|}}
    {{#masonry-item item=item grid=grid }}
      {{#container-block class="in-bl m-r-1"}}
        <div class="card-block">
          <h3 class="card-title truncate in-bl ">{{item.name}}</h3>
          {{#link-to 'protected.images.image' item.id}}
            {{icon-component class='fright color-default' iconClass='va-bottom' materialIcon="pageview"}}
          {{/link-to}}
          <p class="card-text">
            <div>
              Created at {{item.createdAt}}
            </div>
          </p>
          <p class='fright'>
            {{item.apps.length}} application(s)
          </p>
          <div class="clearfix"></div>
          <ul class="list-group list-group-flush color-default">
            {{#each item.apps as |app|}}
              <div class='m-b-1'>
                <div {{ action 'launch' target='app' }} class='in-bl'>
                  {{#icon-component
                    clickable=true
                    iconClass='va-bottom'
                    materialIcon="play_circle_filled"
                    hover-lighter=true}}
                    {{app.name}}
                  {{/icon-component}}
                </div>
                {{#if session.user.isAdmin}}
                  {{#link-to 'protected.images.app' app.model}}
                    {{icon-component class='va-tt color-primary fright' hover-lighter=true iconClass='va-bl-mid' materialIcon="settings" size=16}}
                  {{/link-to}}
                {{/if}}
              </div>
            {{else}}
              There are no applications available.
            {{/each}}
          </ul>
        </div>
      {{/container-block}}
    {{/masonry-item}}
  {{/masonry-grid}}
</div>
