{{#if protectedController.hasNoTeam}}
  <div class="group m-t-1 in-bl">
    <h1 class='color-primary'>Teams</h1>
    <p class="color-primary in-bl">
      <span class="text">
        Looks like you haven’t created any team yet! Click here to create your team!
      </span>
    </p>
    <form {{action "createTeam" on="submit"}}>
      <div class="form-group row m-t-1">
        <div class="col-sm-6 col-lg-8">
          {{nano-input
            class="color-primary input-pattern-underline"
            type="text"
            placeholder="(ex Team Cook)"
            autofocus=protectedController.isNotAdmin
            value=model.name
            isFocused=focusModeTeams
          }}
        </div>
        <div class="col-sm-2">
          {{#if loadState}}
            <button type="button" class="publish-btn btn btn-info btn-color-default">In progress {{ fa-icon "spinner" spin=true}}</button>
          {{else}}
            <button type="submit" class="create-team-btn btn btn-primary btn-color-default">
              Create
            </button>
          {{/if}}
        </div>
      </div>
    </form>
  </div>
{{/if}}
<div class='m-t-2'>
  {{#if protectedController.hasTeam}}
    <h4 class='pull-xs-right'>
      {{#link-to 'protected.users.teams.new'}}
        <button class='btn btn-primary'>
          Create a new user
        </button>
      {{/link-to}}
    </h4>
    <div class="clearfix"></div>
    {{#file-explorer
      requestParams=(hash teams=true)
      isPublishing=isPublishing
      api="file"
      system='unix'
      action="refreshModel"
    }}
    {{/file-explorer}}
  {{/if}}
  {{#if protectedController.isAdminOrTeamAdmin}}
    {{#each teams as |team|}}
      <h1 class='m-t-1 m-b-1 color-primary'> Teams
        <div class='in-bl'>
          {{icon-component class="va-sub" materialIcon="navigate_next" size=36}} {{team.name}}
        </div>
      </h1>
      {{models-table
        class="sortableTable"
        data=team.allMembers
        columns=columns
        showColumnsDropdown=false
        filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
        customMessages=sortableTableConfig.messageConfig
        customIcons=sortableTableConfig.customIcons
        customClasses=sortableTableConfig.customClasses
        useNumericPagination=true
        multipleColumnsSorting=false
        toggleUserSetting=(action 'toggleUserSetting')
        closePopup=(action 'closePopup')
        toAdminTeam=(action 'toAdminTeam') 
        toRegularUser=(action 'toRegularUser') 
        isOpen=isOpen
      }}
    {{/each}}
    <div class="clearfix"></div>
  {{/if}}
</div>
