<div class="global-container">
  <div class="sidebar bg-faded">
    <div class="sidebar-content">
      <div class="top-nav">
        {{#link-to 'protected.dashboard' disabled=session.user.isNotAdmin }}
          <div class="sidebar-logo"></div>
        {{/link-to}}
        <ul class="nav">
          {{#if session.user.isAdmin}}
            <li>
              {{#link-to 'protected.dashboard'}}
                <span class="icon">
                  <i class="material-icons">dashboard</i>
                </span>
                Dashboard
              {{/link-to}}
            </li>
          {{/if}}
          <li>
            {{#link-to 'protected.apps'}}
              <span class="icon">
                <i class="material-icons">apps</i>
              </span>
              Applications
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'protected.files'}}
              <span class="icon">
                <i class="material-icons">folder</i>
              </span>
              Files
            {{/link-to}}
          </li>
          {{#unless session.user.isAdmin}}
            <li>
              {{#link-to 'protected.machines.user'}}
                <span class="icon">
                  <i class="material-icons">desktop_windows</i>
                </span>
                Machines
              {{/link-to}}

            </li>
          {{/unless}}

          {{#if session.user.isAdmin}}
            <li>
              {{#link-to 'protected.machines'}}
                <span class="icon">
                  <i class="material-icons">desktop_windows</i>
                </span>
                Machines
              {{/link-to}}

            </li>
          {{/if}}

          {{#unless session.user.isAdmin}}
            <li>
                {{#link-to 'protected.users.user' session.user}}
                <span class="icon">
                    <i class="material-icons">person</i>
                </span>
                Profile
                {{/link-to}}
            </li>
          {{/unless}}

          {{#unless session.user.isAdmin}}
            <li>
                {{#link-to 'protected.users.teams'}}
                <span class="icon">
                    <i class="material-icons">assignment_ind</i>
                </span>
                Team
                {{/link-to}}
            </li>
          {{/unless}}

          {{#if session.user.isAdmin}}
            <li>
              {{#link-to 'protected.histories'}}
                <span class="icon">
                  <i class="material-icons">history</i>
                </span>
                History
              {{/link-to}}
            </li>
          {{/if}}

          {{#if session.user.isAdmin}}
            <li>
              {{#link-to 'protected.users'}}
                <span class="icon">
                  <i class="material-icons">group</i>
                </span>
                Users
              {{/link-to}}
            </li>
          {{/if}}

          {{#if session.user.isAdmin}}
            <li>
              {{#link-to 'protected.configs'}}
                <span class="icon">
                  <i class="material-icons">settings</i>
                </span>
                Configuration
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
      <div class="bottom-nav">
        <ul class="nav">
          <li class="version-number">
          {{name}} {{version}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content {{if showSidebar "show-sidebar"}}">
    <nav class="main-navbar navbar navbar-light bg-faded">
      <button {{action "toggleSidebar"}} class="navbar-toggler hidden-lg-up" type="button">
        &#9776;
      </button>
      <ul class="nav navbar-nav pull-xs-left">
        <a href={{redirectLink}} target="_blank">
          <li class="nav-item icon_link clickable">
            {{#tool-tipster content="Need help?" position="right"}}
              {{icon-component class="va-mid" materialIcon="help"}} <div class="in-bl">Help</div>
            {{/tool-tipster}}
          </li>
        </a>
      </ul>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <div class="dropdown logout-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
              {{session.user.fullName}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" type="button" {{ action "logout" }}>Logout</button></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    {{outlet}}
  </div>
</div>
