{{#if isVisible }}
  {{#modal-dialog containerClassNames="ember-modal-fullscreen"
    attachment="" targetAttachment=""}}

    {{#vdi-drag-n-drop dragAndDropActive=dragAndDropActive as |uploadData|}}
      <div class="ember-modal-fullscreen {{if togglable 'togglable-state'}} {{if vdiLoadOrError 'vdi-off'}}">
        <div class="remote-session-topbar">
          <div class="left">
            {{#if uploadData.progress}}
                {{ topbar-item
                  materialIcon="cloud_upload"
                  clickable=true
                  hover-enabled=true
                  hover-lighter=true
                  class="state-enabled"
                  click="toggleUploadWindow"
                  stateEnabled=uploadIsVisible
                  content="File Upload"
                }}
                {{#unless uploadData.state}}
                  <span class="state">
                    {{ uploadData.progress }}%
                  </span>
                {{/unless}}
            {{else}}
               {{ topbar-item
                  materialIcon="cloud_upload"
                  clickable=true
                  hover-enabled=true
                  hover-lighter=true
                  class="state-disabled"
                  click="toggleUploadWindow"
                  stateEnabled=uploadIsVisible
                  content="File Upload"
                }}
            {{/if}}

            <span class="state">{{uploadData.state}}</span>
            {{#if uploadData.progress}}
              <span class="link progress" {{ action uploadData.stopUpload }}>Cancel All</span>
            {{/if}}
            {{ topbar-item
              materialIcon="cloud_download"
              clickable=true
              hover-enabled=true
              hover-lighter=true
              click="toggleDownloadWindow"
              stateEnabled=downloadIsVisible
              content="Download"
            }}

            {{ topbar-item
              materialIcon="content_copy"
              clickable=true
              hover-enabled=true
              hover-lighter=true
              size=16
              click="toggleClipboardWindow"
              stateEnabled=clipboardIsVisible
              content="Copy / paste"
            }}

          </div>
          <div class="right">

            {{#if session.user.isAdmin}}
              {{#topbar-item
                clickable=true
                class="go-back"
                hover-enabled=true
                hover-lighter=true
                materialIcon="save"
                click="toggleSaveImagePrompt"
                content="Minimize VDI"
              }}
                <span>Save an image</span>
              {{/topbar-item}}
              {{#topbar-item
                clickable=true
                class="go-back"
                hover-enabled=true
                hover-lighter=true
                materialIcon="add_circle_outline"
                click="clickOnboardApp"
                content="Minimize VDI"
              }}
                <span>Onboard an application</span>
              {{/topbar-item}}
            {{/if}}

            {{#if disconnectBtn}}
              {{#if logoff}}
                {{ topbar-item
                  class="go-back"
                  fontAwesome="spinner"
                  fontAwesomeSpin=true
                  content="Disconnect VDI"
                }}
              {{else}}
                {{ topbar-item
                  clickable=true
                  class="go-back"
                  hover-enabled=true
                  hover-lighter=true
                  materialIcon="power_settings_new"
                  click="disconnectVDI"
                  content="Disconnect VDI"
                }}
              {{/if}}
            {{/if}}

            {{#if homeBtn}}
              {{ topbar-item
                clickable=true
                class="go-back"
                hover-enabled=true
                hover-lighter=true
                materialIcon="home"
                click="toggleSingleTab"
                content="Minimize VDI"
              }}
            {{/if}}

          </div>
        </div>
        <div class="canva-fullscreen">

          {{dim-background show=windowIsSelected click=(action 'closeAll')}}
          {{#vdi-upload
            queue=uploadData.queue
            stateVisible=uploadIsVisible
            flushHistory=uploadData.flushHistory
            cancelSingleUpload=uploadData.cancelSingleUpload
            toggleWindow=(action 'toggleUploadWindow')}}
          {{/vdi-upload}}

          {{#vdi-clipboard
            connectionName=connectionName
            stateVisible=clipboardIsVisible
            toggleWindow=(action 'toggleClipboardWindow')}}
          {{/vdi-clipboard}}

          {{#vdi-download
            stateVisible=downloadIsVisible
            toggleWindow=(action 'toggleDownloadWindow')
            }}
          {{/vdi-download}}

          {{#if vdiIsLoading}}
            <div class="vdi-load-background section centered">
              <div>
                <h1>Loading VDI, Please wait</h1>
                <p class='ta-center'>
                {{loading-component}}
                </p>
              </div>
            </div>
          {{/if}}

          {{#if vdiLoadError}}
            <div class="vdi-load-background section centered">
              <div>
                <h1 class='ta-center'>An error has occured.</h1>
                <p class='ta-center'>
                  {{ vdiLoadErrorMessage }}
                </p>
                <p class='ta-center'>
                  <span {{ action "retryConnection" }} class="link">Retry connection</span>
                </p>
              </div>
            </div>
          {{/if}}
          {{yield (hash disconnectVDI=(action 'disconnectVDI')) }}
          {{dim-background show=showFileExplorer preventAction=isPublishing action="toggleFileExplorer"}}
          {{#floating-sidebar-component
            class='vdi-onboard-app-browser'
            isVisible=showFileExplorer
          }}
            {{#application-publisher
              isPublishing=isPublishing
              api="file"
              target='machines'
              system='windows'
              action="refreshModel"
            }}
            {{/application-publisher}}
          {{/floating-sidebar-component}}
        </div>
      </div>
    {{/vdi-drag-n-drop}}
  {{/modal-dialog}}
  {{#if saveImagePromptModal}}
    {{#modal-dialog targetAttachment="center"
                    containerClassNames="modal-dialog"
                    translucentOverlay=true}}
      <div class="modal-content">
        {{#if saveImageStateDefault}}
        <div class="modal-body">
          <div class='m-t-1 centered'>
            <p class='color-primary'>Do you want to save an image?</p>
          </div>
          <div class='m-t-1 centered'>
            <button type="button" class="btn btn-primary" {{action "saveImagePromptAnswerYes"}}>Yes</button>
            <button type="button" class="m-l-1 btn btn-secondary" {{action "saveImagePromptAnswerNo"}}>No</button>
          </div>
        </div>
        {{else}}
          {{#if saveImageStateLoading}}
            <div class="modal-body">
              <div>
                {{loading-component square=true}} 
                <p class='centered color-primary'>Please wait</p>
              </div>
            </div>
          {{else}}
            {{#if saveImageStateSuccess}}
              <div class="modal-body">
                <div>
                  <div>
                    <div class='centered'>
                      {{icon-component class='color-success' size=50 materialIcon="done"}}
                    </div>
                    <p class='centered color-primary'>Your image has been saved.</p>
                  </div>
                  <div class='centered'>
                    <button type="button" class="btn btn-primary" {{action "saveImagePromptAnswerNo"}}>Got it!</button>
                  </div>
                </div>
              </div>
            {{else}}
              <div class="modal-body">
                <div>
                  <div>
                    <div class='centered'>
                      {{icon-component class='error' size=50 materialIcon="close"}}
                    </div>
                    <p class='centered color-primary'>An error occured</p>
                  </div>
                  <div class='centered'>
                    <button type="button" class="btn btn-primary" {{action "saveImagePromptAnswerNo"}}>Close</button>
                  </div>
                </div>
              </div>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    {{/modal-dialog}}
  {{/if}}
{{/if}}

