<div class='content-wrapper'>
  <h1 class='color-primary'>
    Applications
  </h1>
  {{#if hasDesktop}}
    {{#if isCheckingMachine}}
      <div class='action-btn-wrapper'>
        <button class="btn btn-info btn-color-default">
          {{ fa-icon "spinner" spin=true}}
          <div class="in-bl">Waiting for VM</div>
        </button>
      </div>
    {{/if}}
  {{/if}}
  <div class="container">
    <div class="row">
      {{#each data as |image|}}
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title">{{image.name}}
          {{#if session.user.isAdmin}}
            {{#link-to 'protected.apps.image' image.id}}
            <span class="fright">
              {{icon-component class='color-gray-dark icon_link va-bl-mid' materialIcon="settings" size=14}}
            </span>
            {{/link-to}}
          {{/if}}</h4>
          <ul class="list-group list-group-flush">
            {{#each image.apps as |app|}}
            <li {{action 'launch' target='app'}} class="list-group-item">{{app.model.displayName}}
              {{#if session.user.isAdmin}}
                {{#link-to 'protected.apps.app' app.model}}
                <span class="fright">
                  {{icon-component class='color-gray-dark icon_link va-bl-mid' materialIcon="settings" size=14}}
                </span>
                {{/link-to}}
              {{/if}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
