<div class='content-wrapper'>
  <h4>
    {{#link-to 'protected.apps'}}Applications{{/link-to}} 
  </h4>
  <div class='action-btn-wrapper m-t-2'>
    {{#if hasDesktop}}
      {{#if isCheckingMachine}}
        <button class="btn btn-info">
          {{ fa-icon "spinner" spin=true}}
          <div class="in-bl">Waiting for VM</div>
        </button>
      {{else}}
        <button class="btn btn-primary" {{action "startDesktop"}}>Desktop</button>
      {{/if}}
    {{/if}}
    {{#if session.user.isAdmin}}
      <button class="btn btn-primary" {{action "openFileExplorer"}}>Onboard an application</button>
    {{/if}}
  </div>
  {{models-table
    class="sortableTable"
    data=data
    columns=columns
    showColumnsDropdown=false
    delete='downloadFile'
    filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
    customMessages=sortableTableConfig.messageConfig
    customIcons=sortableTableConfig.customIcons
    customClasses=sortableTableConfig.customClasses
    useNumericPagination=true
    multipleColumnsSorting=false
  }}
  <div class="clearfix"></div>
</div>

{{#single-tab 
  togglable=true
  disconnectBtn=true
  homeBtn=(reverse configuration.autoLogoff)
  isVisible=showSingleTab
  onClose="handleVdiClose"
  connectionName=connectionName
  retryConnection="retryConnection"
}}
  {{remote-session connectionName=connectionName activator=activator}}
{{/single-tab}}

{{dim-background show=showFileExplorer preventAction=isPublishing action="toggleFileExplorer"}}
{{#floating-sidebar-component
  isVisible=showFileExplorer
}}
  {{#application-publisher
    isPublishing=isPublishing
    api="file"
    target='machines'
    system='windows'
    action="refreshModel"
  }}
  {{/application-publisher}}
{{/floating-sidebar-component}}
