<div class='content-wrapper'>
  <h1 class='color-primary'>
    Applications
  </h1>
  {{#if hasDesktop}}
    {{#if isCheckingMachine}}
      <div class='action-btn-wrapper'>
        <button class="btn btn-info btn-color-default">
          {{ fa-icon "spinner" spin=true}}
          <div class="in-bl">Waiting for VM</div>
        </button>
      </div>
    {{/if}}
  {{/if}}

  {{#masonry-grid items=data customLayout=true itemSelector="" as |image|}}
    {{#masonry-item class="card m-r-1 m-b-2 radius" item=item grid=grid}}
      <div class="image-card card-block">
        <h3 class="card-title truncate in-bl ">{{image.name}}</h3>
        {{#if session.user.isAdmin}}
          {{#link-to 'protected.apps.image' image.id}}
            {{icon-component class='va-top mx-l-1' hover-lighter=true iconClass='va-bl-mid' materialIcon="settings" size=18}}
          {{/link-to}}
        {{/if}}
        <hr>
        {{#each image.apps as |app|}}
          <div class='m-b-1'>
            <div {{action 'launch' target='app'}} class='option-button clickable btn btn-primary btn-color-default'>
              {{app.name}}
            </div>
            {{#if session.user.isAdmin}}
              {{#link-to 'protected.apps.app' app.model}}
                {{icon-component class='va-tt color-primary fright' hover-lighter=true iconClass='va-bl-mid' materialIcon="settings" size=16}}
              {{/link-to}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/masonry-item}}
  {{/masonry-grid}}
</div>
