<div class='content-wrapper'>
  <h1 class='color-primary'>
    Applications
  </h1>
  <div class='action-btn-wrapper'>
    {{#if hasDesktop}}
      {{#if isCheckingMachine}}
        <button class="btn btn-info">
          {{ fa-icon "spinner" spin=true}}
          <div class="in-bl">Waiting for VM</div>
        </button>
      {{else}}
        <button class="btn btn-primary btn-color-default" {{action "startDesktop"}}>Desktop</button>
      {{/if}}
    {{/if}}
    {{#if session.user.isAdmin}}
      <button class="btn btn-primary btn-color-default" {{action "openFileExplorer"}}>Onboard an application</button>
    {{/if}}
  </div>
  {{models-table
    class="sortableTable color-default"
    data=data
    columns=columns
    showColumnsDropdown=false
    delete='downloadFile'
    filteringIgnoreCase=sortableTableConfig.filteringIgnoreCase
    customMessages=sortableTableConfig.messageConfig
    customIcons=sortableTableConfig.customIcons
    customClasses=sortableTableConfig.customClasses
    useNumericPagination=true
    multipleColumnsSorting=false
  }}
  <div class="clearfix"></div>
</div>

{{dim-background show=showFileExplorer action="closeFileExplorer"}}
{{#floating-sidebar-component
  isVisible=showFileExplorer
}}
{{#if showFileExplorer}}
  {{#application-publisher
    requestParams=(hash machines=true)
    isPublishing=isPublishing
    api="file"
    system='windows'
    action="onboardAppSucceeded"
  }}
  {{/application-publisher}}
{{/if}}
{{/floating-sidebar-component}}
